.page__body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #FFD700FF;
    background: #000;
    perspective: 1000px;
    overflow: hidden;
}

.scroll-titles {
    width: 80%;
    margin: 0 auto;

    text-align: center;
    animation: star-wars 30s linear infinite;
}

.align-left {
    text-align: left;
}

.align-justify {
    text-align: justify;
}

.margin-bottom {
    margin-bottom: 50px;
}

@keyframes star-wars {
    0% {
        transform: translateZ(400px) rotateX(60deg) translateY(900px);
    }
    50% {
        transform: translateZ(400px) rotateX(60deg) translateY(-2500px);
    }
    100% {
        transform: translateZ(400px) rotateX(60deg) translateY(-6000px);
    }
}

.sound {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 200px;
    height: 100px;
}






